.Rhistory
.Rapp.history
.RData
.Rproj.user/
*.RData
.Renviron
.Rprofile

/*_cache/
/cache/
*.utf8.md
*.knit.md


*.html
*.dta
*.ppt
*.pptx
*.jar
*.png
*.js
*.css
*.xlsx
*.csv
*.Rda
*.parquet
data-requests/pdr-issue-0013/renv/activate.R
