.Rhistory
.Rapp.history
.RData
.Rproj.user/
*.RData
.Renviron
.Rprofile

/*_cache/
/cache/
*.utf8.md
*.knit.md

archive/*
resources/*
code.r.old/*
data/*
code.sas/*
code.stata/*
results/*

*.html
*.dta
*.ppt
*.pptx
*.jar
*.png
*.js
*.css
*.xlsx
*.csv
*.Rda
*.parquet
